---
layout: default
title: Long Haul
---

<div class="blog-holder center-relative">
      {% for post in paginator.posts %}
        <article id="post-{{loop.index}}" class="blog-item-holder">
            <div class="entry-content relative">
                <div class="content-1170 center-relative">
                    <div class="cat-links">
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="entry-date published">{{ post.date | date: '%B %d, %Y' }}</div>
                    <h2 class="entry-title">
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    <div class="excerpt">
                        {% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}<a class="read-more" href="{{ post.url | prepend: site.baseurl }}"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </article>
        {% endfor %}
    <div class="clear"></div>
    <div class="block load-more-holder">LOAD MORE ENTRIES</div>
